<h1>Your Recipes</h1>

<ul>
    <% @recipes.each do |recipe| %>
    <li><a href="/recipes/<%=recipe.id%>"><%=  recipe.recipe_name %></a> </li>
    <% end %>
 </ul>
 <br>



    <% if logged_in? %>
    Logged in as: <%= current_user.email %>
    <br>
    <br>
      <a href="/logout">Logout</a>
      <br>
      <a href="/recipes/new">New Recipe</a>
      <% else %>
      <a href="/signup">Sign Up</a>
      <a href="/login">Log in</a>
      <% end %>