<h2>Your Recipe Safe </h2>

<% if @recipes.empty? %>
<h3>You currently have no recipes, let's make a new one!</h3>
<% else %>
<h3>Here's all of your recipes:</h3>
<ol>
    <% @recipes.each do |recipe| %>
    <li><a href="/recipes/<%=recipe.id%>"><%=  recipe.recipe_name %></a> </li>
    <% end %>
    <% end %>
 </ol>
 <br>
<a href="/recipes/new">New Recipe</a>

<br> <br> <br> <br>
    <% if logged_in? %>
    Logged in as: <%= current_user.email %>
    <br>
    <br>
      <a href="/logout">Logout</a>
      <br>
      <% else %>
      <a href="/signup">Sign Up</a>
      <a href="/login">Log in</a>
      <% end %>