<h1>New Recipe</h1>
<br>
<form action="/recipes" method="post">
    <h4>
    <label for="recipe_name">Name: </label>
    <input type="text" name="recipe_name">
    <br>
    </h4>
    <br>
    <h4>
    <label for="ingredients">Ingredients: </label>
    <input type="text" name="ingredients">
    <br>
    </h4>
    <br>
    <h4>
    <label for="recipe">Recipe: </label>
    <input type="text" name="recipe">
    <br>
    </h4>
    <br>
    <h4>
    <label for="cook_time">Cook Time: </label>
    <input type="text" name="cook_time">
    <br>
    </h4>
    <br>
    <input type="submit" value="Create New Recipe">


</form>