<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>New Recipe</h1>
<h4>Be sure to fill out all appropriate fields</h4>
<br>
<form action="/recipes" method="post" id="recipe">
    <h4>
    <label for="recipe_name">Recipe Name: </label>
    <input type="text" placeholder="Enter recipe name" name="recipe_name">
    <br>
    </h4>
    <br>
    <h4>
    <label for="ingredients">Ingredients:  </label>
    <br> 
   
    <input type="text" minlength="4" maxlength="100" size="60" name="ingredients" id="ingredients" placeholder="Please separate each ingredient with a comma ( , ) "/> 
    <br>

    </h4>
    <br>
    <h4>
    <label for="instructions">Instructions </label>
    <br> 
    <input type="text" minlength="4" maxlength="100" size="60" name="instructions" id="instructions" placeholder="Please separate each new instruction with a period ( . ) " /> 
    <br>
    </h4>
    <br>
    <h4>
    <label for="cook_time">Cook Time: </label> 
    <input type="text" name="cook_time" placeholder="  in minutes ">
    </h4>
    <br>
    <input type="submit" value="Create New Recipe">


</form>
