<h1>New Recipe</h1>
<h4>Be sure to fill out all appropriate fields</h4>
<br>
<form action="/recipes" method="post" id="recipe">
    <h4>
    <label for="recipe_name">Recipe Name: </label>
    <input type="text" name="recipe_name">
    <br>
    </h4>
    <br>
    <h4>
    <label for="ingredients">Ingredients 
    <br> <h5>Put each ingredient on a new line: </h5>
    </label>
    <textarea form="recipes" name="ingredients" rows="15" cols="60" required ></textarea>
    <br>

    </h4>
    <br>
    <h4>
    <label for="instructions">Instructions </label>
    <br> <h5>Put each step on a new line: </h5>
    <textarea name="instructions" id="instructions" rows="15" cols="60" required ></textarea>
    <br>
    </h4>
    <br>
    <h4>
    <label for="cook_time">Cook Time (in minutes): </label> 
    <input type="text" name="cook_time">
    </h4>
    <br>
    <input type="submit" value="Create New Recipe">


</form>
