<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<form action='/login' method='post'>

    <h4> <br>
        <label for="email">Email: </label>
        <input type="text" name="email"> <br>
    </h4>

    <h4> <br>
        <label for="password">Password: </label>
        <input type="password" name="password">
    </h4>
    <br>
    <input type="submit" value="Login">
</form>
<br>
<a href="/signup">Sign Up</a>