<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h2>Welcome to Recipe Safe!</h2>
<br>
<p>Recipe safe is a place to store all your favorite recipes right at the click of a button! 
Add all your favorite recipes to your profile. Feel free to modify or delete your recipes as you please.</p>

<br>
<h4> Please log in or sign up to get started!</h4>

<br>


<a href="/login">Log In</a>
<br>
<br>
<a href="/signup">Sign Up</a>
<br>
<br> 
<br>


